.hotel-details{
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    margin-top: 70px;
    z-index: 1;
}

.hotel-details .hotel-header{
    width: 98%;
    background-color:#fff;
    padding-bottom: 10px;
}

.hotel-details .hotel-header .hotel-name{
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: larger;
    color: #096130;
    margin-bottom: -10px;
    font-weight: bold;
}

.hotel-details .hotel-header .hotel-name-span{
    font-size: small;
    padding-left: 10px;
}

.hotel-details .hotel-header .hotel-about{
    padding: 10px;
    padding-top: 0;
    font-style: normal;
    margin-bottom: 10px;
    line-height: 2;
}


.hotel-details .booking-info{
    width: 98%;
    background-color:#fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px #9a9b9a;
}
.hotel-details .booking-info .hotel-details-pram{
    border-radius: 4px;
    border: solid 1px;
    border-color: #cdcfce;
    padding: 16px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: small;
}

.hotel-details .booking-info .hotel-details-btn{
    border-radius: 0px !important ;
    float: right;
    border: solid 1px;
    padding: 10px 20px;
    margin: 8px 0;
    width: 100px;
    box-sizing: border-box;
}

.hotel-details .booking-info .hotel-details-pram:focus {
    border-color: #18BA60 !important;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    box-shadow: 0 0 2px #18BA60 !important;
}

.hotel-details .booking-info .hotel-details-btn:focus {
    border-color: #abf1cb !important;
    -webkit-box-shadow: none;
    background-color: #18BA60 !important;
    outline: -webkit-focus-ring-color auto 0px;
    box-shadow: 0 0 2px #18BA60 !important;
}
.hotel-more{
    width: 95%;
    margin: auto;
}

.hotel-more .hotel_image {
    padding-top: 20px;
    border-radius: 10px;
}

.error{
    margin-bottom: 20px;
    color:red;
    text-align: center;
}