.signin-frame{
    height: 100vh;
    display:flex;
    align-items:center;
    padding-top: 60px;
}

.signin-form{
    width: 320px;
    padding: 20px;
    margin: auto; 
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px #9a9b9a;
}

.signin-form a:link, a:visited {
    font-size: small;
    color: #18BA60;
    text-decoration: none;
}
  
.signin-form a:hover, a:active {
    color: green;
}

.signin-form .divider{
    color: #c3c5c9;
}

.signin-button{
    border-radius: 0px !important;
    border: solid 1px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.signin-button:focus {
    border-color: #abf1cb !important;
    -webkit-box-shadow: none;
    background-color: #18BA60 !important;
    outline: -webkit-focus-ring-color auto 0px;
    box-shadow: 0 0 2px #18BA60 !important;
}

.logo-img{
    width: 80px;
    height: 80px;
    text-align: center;
}

.logo-frame{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
